.navbar {

    margin-top: 8px;
    background-color: rgb(15, 120, 164, 0.25);
    height: 85vh;

    border-radius: 16px;
    padding: 20px;
    width: 2fr;
    margin-right: 4px;
  }

.item a {
  color: black;
  font-size: large;
  text-decoration: none;
}


.item a.active {
  font-size: large;
  color: rgb(54, 96, 136);
}
