.app-flex-header {
    justify-content: center;
}

.app-flex-body {
    display: flex;
    flex-direction: row;
}

.app-flex-dialogs,
.app-flex-profile {
    margin-top: 8px;
    background-color: rgb(15, 120, 164, 0.25);
    height: 85vh;

    border-radius: 16px;
    padding: 20px;
    flex-grow: 2;
}
