.app-wrapper {
  display: grid;

  grid-template-areas:
    'header header header header'
    'navbar content content content';

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

  width: 80vw;
  height: 95vh;
  margin-left: auto;
  margin-right: auto;


  border-radius: 16px;
}

.content {
  grid-area: 'content';
  margin-top: 8px;
  background-color: rgb(152, 207, 213);
  height: 85vh;
  width: 98%;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 2;
  border-radius: 16px;
  padding: 8px;
  margin-left: auto;
}