.dialogs {

}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: rgb(19, 103, 102);
}

.dialog {

}

.messages {
    padding: 10px;
}

.messages .message {
    padding-bottom: 8px;
    color: white;
}